In [2]:
import pandas as pd
import yfinance as yf

In [3]:
#ASX Tickers
RAW_TICKER_ASX = pd.read_csv('https://www.asx.com.au/asx/research/ASXListedCompanies.csv',skiprows=1)
RAW_TICKER_ASX["Ticker"] = RAW_TICKER_ASX['ASX code']+".AX"
TICKER_ASX = list(RAW_TICKER_ASX['Ticker'].dropna())

In [4]:
# Nasdaq Tickers
#ftp.nasdaqtrader.com/SymbolDirectory/nasdaqlisted.txt
#ftp.nasdaqtrader.com/SymbolDirectory/otherlisted.txt

RAW_TICKER_NDQ = pd.read_csv('/Users/JZ/Downloads/nasdaqlisted.txt',sep="|")
RAW_TICKER_NDQ["Ticker"] = RAW_TICKER_NDQ['Symbol']
TICKER_NDQ = list(RAW_TICKER_NDQ['Ticker'].dropna())

In [5]:
#London Stock Exchange Tickers
RAW_TICKER_LSE = pd.read_excel (r'https://docs.londonstockexchange.com/sites/default/files/documents/list_of_sets_securities_14.xls', sheet_name='SETS',skiprows=3)
RAW_TICKER_LSE["Ticker"] = RAW_TICKER_LSE['Mnemonic']+".L"
TICKER_LSE = list(RAW_TICKER_LSE['Ticker'].dropna())

In [6]:
#NYSE Tickers
#RAW_TICKER_NYSE = pd.read_excel (r'https://www.theice.com/publicdocs/data/NYSE_Equity_Index_Ticker_List.xlsx', sheet_name='SETS',skiprows=3)

In [7]:
#Append list for data extraction layer
TICKER_ALL = (TICKER_ASX + TICKER_NDQ + TICKER_LSE)
#Remove Duplicates
TICKER_ALL = list(dict.fromkeys(TICKER_ALL))

In [8]:
#Sample top 5 for testing code purposes
TICKER_ASXs = TICKER_ASX[:5]
TICKER_NDQs = TICKER_NDQ[:5]
TICKER_LSEs = TICKER_LSE[:5]

TICKER_ALL = (TICKER_ASXs + TICKER_NDQs + TICKER_LSEs)

In [9]:
#Download part 1: Company Information

INF_DF = pd.DataFrame()

def Info_Extract(TickName):    
    global INF_DF
    try:
        tick = yf.Ticker(TickName) 
        INF = tick.info
        INF_DF = INF_DF.append(INF, ignore_index=True) 
         
        print("finished",TickName)
        
    except Exception:
        print("Error with",TickName)
        pass
    
    return()

#for company in ASX_TICKER_LIST:
#    Info_Extract(company)

In [10]:
#Download part 2: financial data

FINANCIALS_DF = pd.DataFrame()

def Financials_Extract(TickName):
    global FINANCIALS_DF
    try:
        tick = yf.Ticker(TickName) 
        
        #income statement
        FIN_OG = tick.financials
        FIN_OG2 = FIN_OG.reset_index()
        FIN_OG2.rename(columns = {'index':'Metric'}, inplace = True)
        FIN_OG3=FIN_OG2.melt(id_vars=["Metric"],var_name="Date",value_name="Value")
        FIN_OG3['TickName']=TickName
        FIN_OG3['Financial Data Type']="Income Statement"
        
        FINANCIALS_DF = FINANCIALS_DF.append(FIN_OG3, ignore_index=True)
         
        #balance sheet
        BS_OG = tick.balance_sheet
        BS_OG2 = BS_OG.reset_index()
        BS_OG2.rename(columns = {'index':'Metric'}, inplace = True)
        BS_OG3=BS_OG2.melt(id_vars=["Metric"],var_name="Date",value_name="Value")
        BS_OG3['TickName']=TickName
        BS_OG3['Financial Data Type']="Balance Sheet"
        
        FINANCIALS_DF = FINANCIALS_DF.append(BS_OG3, ignore_index=True)
        
        #cashflow
        CF_OG = tick.cashflow
        CF_OG2 = CF_OG.reset_index()
        CF_OG2.rename(columns = {'index':'Metric'}, inplace = True)
        CF_OG3=CF_OG2.melt(id_vars=["Metric"],var_name="Date",value_name="Value")
        CF_OG3['TickName']=TickName
        CF_OG3['Financial Data Type']="Cashflow"
        
        FINANCIALS_DF = FINANCIALS_DF.append(CF_OG3, ignore_index=True)
        
            
        print("finished",TickName)
        
    except Exception:
        print("Error with",TickName)
        pass

    return()

#for company in TICKER_ALL:
#    Financials_Extract(company)

In [11]:
#Download part 3: Download historical share prices

HIST_PRICE_DF = pd.DataFrame()

def Prices_Extract(TickName):
    
    global HIST_PRICE_DF

    try:
        tick = yf.Ticker(TickName) 
        
        hist_p = tick.history(period="6mo")
        hist_p2 = hist_p.reset_index()
        hist_p2.rename(columns = {'index':'Metric'}, inplace = True)
        
        hist_p2['TickName']=TickName

        HIST_PRICE_DF = HIST_PRICE_DF.append(hist_p2, ignore_index=True)
        
            
        print("finished",TickName)
        
    except Exception:
        print("Error with",TickName)
        pass

    return()


#for company in TICKER_ALL:
#    Prices_Extract(company)

In [12]:
#Part 4: historical dividend information

#DIV = tick.dividends

In [13]:
# Export all 3 sections to excel

for company in TICKER_ALL:
    Info_Extract(company)
INF_DF.to_excel('/Users/JZ/Downloads/TEST_INFO.xlsx')


for company in TICKER_ALL:
    Financials_Extract(company)
FINANCIALS_DF.to_excel('/Users/JZ/Downloads/TEST_FIN.xlsx')


for company in TICKER_ALL:
    Prices_Extract(company)
HIST_PRICE_DF.to_excel('/Users/JZ/Downloads/TEST_Prices.xlsx')

finished MOQ.AX
finished ONT.AX
finished 14D.AX
finished 1ST.AX
finished T3D.AX
finished AACG
finished AACQU
finished AAL
finished AAME
finished AAOI
finished DGE.L
Error with BA..L
finished BATS.L
finished IMB.L
finished HSBA.L
finished MOQ.AX
finished ONT.AX
finished 14D.AX
finished 1ST.AX
finished T3D.AX
finished AACG
finished AACQU
finished AAL
finished AAME
finished AAOI
finished DGE.L
Error with BA..L
finished BATS.L
finished IMB.L
finished HSBA.L
finished MOQ.AX
finished ONT.AX
finished 14D.AX
finished 1ST.AX
finished T3D.AX
finished AACG
finished AACQU
finished AAL
finished AAME
finished AAOI
finished DGE.L
- BA..L: No data found, symbol may be delisted
finished BA..L
finished BATS.L
finished IMB.L
finished HSBA.L

In [28]:


# DF_SHORT =  INF_DF[INF_DF.columns[INF_DF.columns.isin(['longName','ask','52WeekChange'])]]

DF_SHORT = INF_DF[['longName','ask']]

In [38]:
#Need to add section for loading into sqlite database
import sqlite3
#create SQL datbase
db_conn = sqlite3.connect("/Users/JZ/Downloads/Databases/test_database5.db")
c = db_conn.cursor()



c.execute(
    """
    CREATE TABLE test (
        ask INTEGER ,
        longName TEXT NOT NULL,
        PRIMARY KEY(ask)
        );
     """
)

c.execute(
    """
    CREATE TABLE sales (
        SalesID INTEGER ,
        OrderID TEXT NOT NULL,
        ProductID TEXT NOT NULL,
        Sales REAL,
        Quantity INTEGER,
        Discount REAL,
        Profit REAL,
        PRIMARY KEY(SalesID),
        FOREIGN KEY(OrderID) REFERENCES orders(OrderID),
        FOREIGN KEY(ProductID) REFERENCES products(ProductID)
        );
     """
)

#DF_SHORT.to_sql('test', db_conn, if_exists='append', index=False)

In [45]:
#Insert data
DF_SHORT.to_sql('test', db_conn, if_exists='replace')

#pd.read_sql('select * from INFO_SNAP', conn)

In [47]:
pd.read_sql('select * from test', db_conn)

    index                         longName       ask
0       0                      MOQ Limited     0.150
1       1               1300SMILES Limited     6.350
2       2             1414 Degrees Limited     0.145
3       3                1st Group Limited     0.033
4       4                     333D Limited     0.002
5       5            ATA Creativity Global     1.200
6       6          Artius Acquisition Inc.    10.050
7       7     American Airlines Group Inc.    13.570
8       8    Atlantic American Corporation     2.100
9       9    Applied Optoelectronics, Inc.    11.640
10     10                       Diageo plc  2528.000
11     11  British American Tobacco p.l.c.  2535.500
12     12              Imperial Brands PLC  1263.500
13     13                HSBC Holdings plc   330.950